<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654810910942-uqq3f9j0j8ldnarliejh8riu9e2qb2rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654810910942-uqq3f9j0j8ldnarliejh8riu9e2qb2rj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>654810910942-l09vm3dhutv6f3jv85l0qsriejluftee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>654810910942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smarterventures.helm</string>
	<key>PROJECT_ID</key>
	<string>smarter-ventures</string>
	<key>STORAGE_BUCKET</key>
	<string>smarter-ventures.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654810910942:ios:91b66b084275213642724f</string>
	<key>DATABASE_URL</key>
	<string>https://smarter-ventures.firebaseio.com</string>
</dict>
</plist>
